{% extends 'base.html' %}
{% block head-css %}
{% endblock %}

{% block content-wrapper %}
{#hostgroup list start    #}
<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Host Groups</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
{#                <a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
{#                    <i class="fa fa-wrench"></i>#}
{#                </a>#}
{#                <ul class="dropdown-menu dropdown-user">#}
{#                    <li><a href="#">Config option 1</a>#}
{#                    </li>#}
{#                    <li><a href="#">Config option 2</a>#}
{#                    </li>#}
{#                </ul>#}
{#                <a class="close-link">#}
{#                    <i class="fa fa-times"></i>#}
{#                </a>#}
            </div>
        </div>
        <div class="ibox-content">
            <div id="host-group" class="list-group">
                <a class="list-group-item" href="{% url 'hosts_index' %}">
                    <h5 class="list-group-item-heading">Ungrouped
                        <span class="badge badge-info pull-right">{{ request.user.bind_hosts.select_related.count }}</span>
                    </h5>
                </a>
                {% for group in request.user.host_groups.select_related %}
                    {% for c in group.bindhosttogroup_set.all %}
                        <a class="list-group-item" href="{% url 'hosts_index' %}?selected_gid={{ group.id }}">
                            <h5 class="list-group-item-heading">{{ group.name }}
                                <span class="badge badge-info pull-right">{{ c.bind_hosts.all.count }}</span>
                            </h5>
                        </a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{#hostgroup list end    #}

{#hostlist start    #}
<div class="col-lg-9">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Host Table</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
{#                <a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
{#                    <i class="fa fa-wrench"></i>#}
{#                </a>#}
{#                <ul class="dropdown-menu dropdown-user">#}
{#                    <li><a href="#">Config option 1</a>#}
{#                    </li>#}
{#                    <li><a href="#">Config option 2</a>#}
{#                    </li>#}
{#                </ul>#}
{#                <a class="close-link">#}
{#                    <i class="fa fa-times"></i>#}
{#                </a>#}
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Hostname</th>
                    <th>Wan IP</th>
                    <th>Lan IP</th>
                    <th>Domain</th>
                    <th>Os</th>
                    <th>Port</th>
                    <th>Status</th>
                    <th>Create date</th>

                </tr>
                </thead>
                <tbody>
                {% for h in host_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ h.host.hostname }}</td>
                        <td>{{ h.host.wan_ip }}</td>
                        <td>{{ h.host.lan_ip }}</td>
                        <td>{{ h.host.domain }}</td>
                        <td>{{ h.host.os_version }}</td>
                        <td>{{ h.host.port }}</td>
                        <td>{{ h.host.enabled }}</td>
                        <td>{{ h.host.create_date|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{#hostlist end    #}
{% endblock %}
{% block bottom-js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#host-group a[href='{{ request.get_full_path }}']").addClass("active");
        }); //end doc ready
    </script>
{% endblock %}