<script src="/static/js/plugins/jsTree/jstree.min.js"></script>

<style>
    .jstree-open > .jstree-anchor > .fa-folder:before {
        content: "\f07c";
    }

    .jstree-default .jstree-icon.none {
        width: 0;
    }
</style>

<script>
    $(document).ready(function(){
        $('#jstree1').jstree({
            'core' : {
                'check_callback' : true ,
                'dblclick_toggle' : false ,
            },
            'plugins' : [ 'types', 'dnd','checkbox' ],
            "checkbox" : {
                "keep_selected_style" : false
            },
            'types' : {
                'default' : {
                    'icon' : 'fa fa-desktop'
                },
                'html' : {
                    'icon' : 'fa fa-file-code-o'
                },
                'svg' : {
                    'icon' : 'fa fa-file-picture-o'
                },
                'css' : {
                    'icon' : 'fa fa-file-code-o'
                },
                'img' : {
                    'icon' : 'fa fa-file-image-o'
                },
                'js' : {
                    'icon' : 'fa fa-file-text-o'
                },
                'tree_top' : {
                    'icon' : 'fa fa-sitemap'
                },
                'group' : {
                    'icon' : 'fa fa-folder'
                }
            }
        });
    });
</script>

<script>
    function collapse_all(){
        $('#result-box').find("a").each(function(i,val){
            $('#result-box a')[i].click();      //toggle收缩所有任务信息窗口,找到a标签后加入[i] 模拟点击收缩按钮
        })
    }

    function SubmitTask(task_type){
        if (task_type == 'multi_cmd'){
            FormVerification(task_type);
        }
    }

    function FormVerification(task_type){
        var err_list = [];
        var data_list = {};
        if (task_type == 'multi_cmd'){
            var selected_hosts = VerifyHostSelection();
            data_list['selected_hosts'] = selected_hosts;
            var cmd_text = $.trim($("#cmd_text").val());
            data_list['cmd'] = cmd_text;
            data_list['task_type'] = task_type;
            if (selected_hosts.length == 0){
                err_list.push(['Authentication Failed',"Tip: haven`t select hosts!"])
            }
            if (cmd_text.length == 0){
                err_list.push(['Authentication Failed',"Tip: haven`t enter a command!"])
            }
        }

        if (err_list.length > 0){
            $("#err-msg").html("");
            $.each(err_list,function(index,item){
                var err_msg = '<div class="alert-warning alert-dismissable">' + item[1] + '</div>'
                $("#err-msg").append(err_msg);
            })
        }else{
            $("#err-msg").html("");
            //提交任务到后台
            data_list['csrfmiddlewaretoken'] = $("input[name='csrfmiddlewaretoken']").val();
            $.post("{% url 'submit_task' %}", data_list, function(callback){
                task_id_obj = JSON.parse(callback);
                RefreshGetTaskResult(task_id_obj.task_id);
            });  //end post
        }
    }

    function VerifyHostSelection(){
        var selected_hosts = [];
        var all_hosts = $('#jstree1').jstree('get_bottom_checked',true);
        $.each(all_hosts,function(i,n){
            var servers = n.data.binduserid;
            selected_hosts.push(servers)
        });
        return selected_hosts;
    }

    function RefreshGetTaskResult(task_id){
        GetTaskResult(task_id);
        ResultRefresh = setInterval(function(){
            var stat_list = [];
            $('#result-box').find("pre").each(function(i,val){
                var res = $(this).html();
                stat_list.push(res);
                if (res == "N/A"){
                    GetTaskResult(task_id);
                }
            });
            if(stat_list.indexOf('N/A') == -1){
                clearInterval(ResultRefresh);
            }
        },2000);
    }

    function GetTaskResult(task_id){
        $.getJSON("{% url 'get_task_result' %}", {task_id:task_id}, function(callback){
            PrintOnPage(callback);
        }); //end getJSON
    }

    function PrintOnPage(callback){
        $('#result-box').html(" ");
        $.each(callback,function(index,item){
            var row_html =  '<div class="ibox">'+
                                '<div class="ibox-title">'+
                                    '<h5>'+item.bind_host__host_user__username+'@'+item.bind_host__host__hostname+'</h5>'+
                                    '<div class="ibox-tools">'+
                                        '<label class="label label-info">'+item.result+'</label>'+
                                        '<label class="label label-info">'+item.bind_host__host__wan_ip+'|'+item.bind_host__host__lan_ip+'</label>'+
                                        '<label class="label label-info">'+item.date+'</label>'+
                                        '<a class="collapse-link">'+
                                            '<i class="fa fa-chevron-up"></i>'+
                                        '</a>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="ibox-content">'+
                                    '<div class="scroll_content">'+
                                        '<pre>'+item.event_log+'</pre>'+
                                    '</div>'+
                                '</div>'+
                            '</div>';
            $("#result-box").append(row_html);
        }); //end each

        $('.scroll_content').slimscroll({
            height: '200px'
        });
    }
</script>