{% extends 'base.html' %}

{% block head-css %}
    <link href="/static/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="/static/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="/static/css/plugins/dropzone/dropzone.css" rel="stylesheet">
{% endblock %}

{% block content-wrapper %}

{% include 'hosts/host_list_component.html' %}

<div class="col-lg-9">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Distribute files</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li id="file_send" class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-cloud-upload"></i>distribute files</a></li>
{#                    <li id="file_fetch" class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-cloud-download"></i>fetch files</a></li>#}
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div id="my-awesome-dropzone" class="dropzone" action="#">
                                <button id="upload_submit" type="submit" class="btn btn-info pull-right">Submit files</button>
                                <div class="dropzone-previews"></div>
                            </div>
                            </br>
                            <div class="input-group">
                                <input id="remote_file_path" type="text" class="form-control" placeholder="Enter the RemoteHost absolute <PATH> except filename"><span class="input-group-btn"><button type="button" class="btn btn-primary" onclick="SubmitTask('multi_file_transfer')">Upload files</button></span>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="input-group">
                                <input id="download_remote_file_path" type="text" class="form-control" placeholder="Enter the RemoteHost absolute <PATH> include filename"><span class="input-group-btn"><button type="button" class="btn btn-primary" onclick="SubmitTask('multi_file_transfer')">Download file</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="err-msg"></div>
        </div>

    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5>Status info</h5>
            <div class="ibox-tools">
                <button type="button" class="btn btn-primary btn-xs" onclick="collapse_all()">Collapse/Expansion</button>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div id="result-box" class="ibox-content">
            <h3><strong>Haven't distribute files yet!</strong></h3>
        </div>
    </div>
</div>



{% endblock %}

{% block bottom-js %}
{% include 'hosts/multi_task_js_component.html' %}
<script src="/static/js/plugins/dropzone/dropzone.js"></script>
<script>
    $(document).ready(function(){
        upload_files = [];
        Dropzone.options.myAwesomeDropzone = {
            url: "{% url 'file_upload' %}",
            autoProcessQueue: false,    //如为true 拖入文件到dropzone时自动上传到后台
            uploadMultiple: false,      //如果为true request.FILE 里则为一个list 为file[]
            parallelUploads: 10,
            maxFiles: 10,
            maxFilesize:50,
            addRemoveLinks: true,
            // Dropzone settings

            init: function() {
                var myDropzone = this;
                this.element.querySelector("#upload_submit").addEventListener("click", function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                });
{#                this.on("sendingmultiple", function() {#}
{#                });#}
                this.on("success", function(files, response) {
                    upload_files.push(response);
                });
                this.on("error", function(files, response) {
                });
            }
        };
   });
</script>
{% endblock %}