{% extends 'base.html' %}
{% block head-css %}
    <link href="/static/css/plugins/jsTree/style.min.css" rel="stylesheet">
{% endblock %}

{% block content-wrapper %}

{% include 'hosts/host_list_component.html' %}
<div class="col-lg-9">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Batch Commands</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="input-group">
                <input id="cmd_text" type="text" class="form-control"><span class="input-group-btn"><button type="button" class="btn btn-primary" onclick="SubmitTask('multi_cmd')">Run!</button></span>
            </div>
            <div id="err-msg"></div>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5>Commands return information</h5>
            <div class="ibox-tools">
                <button type="button" class="btn btn-primary btn-xs" onclick="collapse_all()">Collapse/Expansion</button>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div id="result-box" class="ibox-content">
            <h3><strong>Haven't run commands yet!</strong></h3>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom-js %}
{% include 'hosts/multi_task_js_component.html' %}
{% endblock %}